In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [18]:
df = pd.read_csv('../data/twitter_training.csv')
df = pd.DataFrame(df.values, columns = ['id', 'game', 'target', 'text'])
df = df.dropna()
df

,id,game,target,text
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
3,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Positive,im getting into borderlands and i can murder y...
...,...,...,...,...
74676,9200,Nvidia,Positive,Just realized that the Windows partition of my...
74677,9200,Nvidia,Positive,Just realized that my Mac window partition is ...
74678,9200,Nvidia,Positive,Just realized the windows partition of my Mac ...
74679,9200,Nvidia,Positive,Just realized between the windows partition of...
74680,9200,Nvidia,Positive,Just like the windows partition of my Mac is l...

In [19]:
(set(df['game'].values))
print(f'Game column has {len(set(df["game"].values))} unique categories')
print('Targets have these values:\n', set(df["target"].values))

Game column has 32 unique categories
Targets have these values:
 {'Negative', 'Positive', 'Neutral', 'Irrelevant'}

In [20]:
df.groupby('target').count()

               id   game   text
target
Irrelevant  12875  12875  12875
Negative    22358  22358  22358
Neutral     18108  18108  18108
Positive    20654  20654  20654

Targets are slightly unbalanced